/* Bordered form */
form {
  border: 3px solid white;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 50%;
  padding: 5px 5px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  display:inline-block ;
    margin-top: 10px;
    padding: 10px;
    padding-left: 10px;
    border:var(--border);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    color:var(#48AAAD);
    cursor: pointer;
    font-size: 1.7rem;
    background: #48AAAD;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  display: inline-block;
  margin-top: 1rem;
  padding: .5rem;
  padding-left: 1rem;
  border:var(--border);
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  color:var(#48AAAD);
  cursor: pointer;
  font-size: 1.7rem;
  background: #ED2939;
  margin-left: 440px;
}
/* Add padding to containers */
.card1{
  width: 650px;
  margin-left: 500px;
  margin-top: 50px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
