:root{
    --green:#16a085;
    --slate: #757c88;
    --red: #ED2939;
    --teal: #48AAAD;
    --light-color:#777;
    --box-shadow:.5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow:.4rem .4rem 0 rgba(0, 0, 0, .2);
    --border:.2rem solid var(--green);
}


#contact .heading h1 {
  font-size: 4rem;
  color: #48AAAD;
  padding-top: 7rem;
  margin-bottom: 2rem;
}

#contact .heading h1 span {
  color: #48AAAD;
}

#contact form {
  background: #fff;
  padding-top: 2rem;
  margin: 1rem 2rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 2rem #333;
          box-shadow: 0 0 2rem #333;
}

#contact form .inputBox {
  position: relative;
  text-align: center;
}

#contact form .inputBox input, #contact form .inputBox textarea {
  outline: none;
  border: .2rem solid #333;
  border-radius: .2rem;
  margin: 2rem 0;
  padding: 0 1rem;
  background: none;
  height: 4rem;
  width: 90%;
  font-size: 2rem;
}

#contact form .inputBox input:focus ~ h3,
#contact form .inputBox input:valid ~ h3, #contact form .inputBox textarea:focus ~ h3,
#contact form .inputBox textarea:valid ~ h3 {
  font-size: 1.6rem;
  left: 6%;
  top: -.5rem;
  color:#757c88;
}

#contact form .inputBox textarea {
  padding: 1rem;
  resize: none;
  height: 20rem;
}

#contact form .inputBox h3 {
  position: absolute;
  top: 3rem;
  left: 7%;
}

#contact form input[type="submit"] {
  outline: none;
  border: none;
  border-radius: 5rem;
  color: #333;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: .2rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 4rem;
  width: 12rem;
  margin-bottom: 2rem;
  margin-left: 4%;
  background: #333;
  color: #fff;
}

#contact form input[type="submit"]::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  -webkit-transition: .2s;
  transition: .2s;
  z-index: -1;
}
.Box{
  outline: none;
  border: none;
  border-radius: 5rem;
  color: #333;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: .2rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 4rem;
  width: 12rem;
  margin-bottom: 2rem;
  margin-left: 4%;
  background: #333;
  color: #fff;
}